*{
  margin: 0;
  padding:0;   
}

.main{
    background-color: blueviolet;
}

.container{
    padding: 30;
    display: flex;
}

@media screen and (max-width: 480px) {
    body{
        background-color: blueviolet;
        padding: 30px;
        display: inline-block;
        }
}